In [125]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [126]:
dataset=pd.read_csv("Swarm_Behaviour.csv")

In [127]:
dataset.shape

(23309, 2401)

In [128]:
dataset

,x1,y1,xVel1,yVel1,xA1,yA1,xS1,yS1,xC1,yC1,...,yVel200,xA200,yA200,xS200,yS200,xC200,yC200,nAC200,nS200,Swarm_Behaviour
0,562.05,-0.62,-10.70,-4.33,0.00,0.00,0.0,0.0,0.00,0.00,...,-15.15,0.00,0.00,0.00,0.00,0.00,0.00,28,0,0.0
1,175.66,-57.09,2.31,-2.67,0.00,0.00,0.0,0.0,0.00,0.00,...,-3.48,0.00,0.00,0.00,0.00,0.00,0.00,4,0,0.0
2,200.16,-320.07,4.01,-6.37,0.00,0.00,0.0,0.0,0.18,-0.26,...,-9.38,0.00,0.00,0.00,0.00,-0.11,-0.30,15,1,0.0
3,316.99,-906.84,0.85,9.17,-0.17,1.03,0.0,0.0,0.00,0.00,...,10.39,-0.26,1.01,0.00,0.00,0.00,0.00,16,0,0.0
4,1277.68,908.54,-2.02,8.23,-1.00,1.00,0.0,0.0,0.00,0.00,...,13.91,-1.00,0.00,3.21,15.67,0.00,0.00,12,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23304,-225.85,128.99,12.19,-7.56,-1.00,0.00,0.0,0.0,0.00,0.00,...,-5.06,-1.00,-1.00,-3.99,0.21,0.00,0.00,17,1,0.0
23305,-1352.02,-233.03,-0.86,-4.37,-0.07,-0.55,0.0,0.0,0.28,0.02,...,-12.41,-0.15,-0.70,0.00,0.00,0.02,0.07,69,1,0.0
23306,-1360.61,-778.11,-2.89,-1.17,0.00,0.00,0.0,0.0,0.00,0.00,...,-14.78,0.00,0.00,0.00,0.00,0.00,0.00,20,1,0.0
23307,987.11,615.69,-5.61,-2.92,-1.00,-1.00,0.0,0.0,0.00,0.00,...,9.78,-1.00,-1.00,0.00,0.00,0.00,0.00,29,0,0.0
23308,938.12,-924.87,11.18,2.85,0.10,-0.02,0.0,0.0,0.06,0.31,...,-2.90,-0.13,-0.29,1.31,0.38,0.00,0.00,2,1,0.0

In [129]:
# df=dataset.corr()['Swarm_Behaviour'].to_frame()

In [130]:
pd.options.display.max_rows=10
SelectedFeatures=[i for i in dataset.columns if (dataset[i].corr(dataset['Swarm_Behaviour'])>0.4 or dataset[i].corr(dataset['Swarm_Behaviour'])<-0.4)]
SelectedFeatures

['yVel3',
 'xVel5',
 'xVel7',
 'yVel11',
 'yVel19',
 'yVel21',
 'yVel27',
 'yVel30',
 'yVel40',
 'yVel41',
 'xVel43',
 'yVel44',
 'yVel54',
 'yVel56',
 'xVel62',
 'yVel69',
 'yVel74',
 'yVel84',
 'yVel85',
 'yVel88',
 'yVel95',
 'yVel98',
 'xVel103',
 'yVel104',
 'yVel106',
 'yVel107',
 'yVel109',
 'yVel119',
 'yVel120',
 'yVel126',
 'yVel131',
 'xVel141',
 'yVel141',
 'yVel142',
 'yVel148',
 'yVel152',
 'yVel162',
 'yVel170',
 'yVel172',
 'yVel176',
 'yVel177',
 'xVel179',
 'yVel181',
 'xVel185',
 'yVel189',
 'yVel196',
 'xVel197',
 'Swarm_Behaviour']

In [131]:
SelectedFeatures.remove('Swarm_Behaviour')
len(SelectedFeatures)

47

<h2>Missing Values</h2>

In [132]:
for i in dataset.columns:
    if dataset[i].isnull().sum()>0:
        print(i)
else:
    print("Exit")

Exit

<p>No missing values found</p>

In [133]:
j=0
for i in dataset.columns:
    if dataset[i].dtype!='O':
        j+=1
print(j)

2401

<p>All features are Numerical</p>

<h2>Scaling The Data</h2>

In [135]:
from sklearn.model_selection import train_test_split

In [136]:
TrainX,TestX,TrainY,TestY=train_test_split(dataset[SelectedFeatures],dataset['Swarm_Behaviour'],train_size=0.8,random_state=101)

In [137]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(TrainX,TrainY)

LogisticRegression()

In [138]:
PredictedBehaviour=model.predict(TestX)
PredictedBehaviour

array([0., 1., 0., ..., 0., 1., 0.])

In [139]:
from sklearn.metrics import accuracy_score
accuracy_score(TestY,PredictedBehaviour)

0.9011154011154011

<h2>Trying it by increasing 1 feature at a time with correlation</h2>

In [140]:
df=dataset.corr()['Swarm_Behaviour'].to_frame()

In [141]:
backup=df.copy()

In [142]:
arr=df.index
df.insert(0,"Features",arr,True)
# df.drop("Features",axis=1,inplace=True)
df

                        Features  Swarm_Behaviour
Swarm_Behaviour  Swarm_Behaviour         1.000000
x1                            x1         0.058640
y1                            y1        -0.048443
xVel1                      xVel1        -0.256886
yVel1                      yVel1         0.325989
...                          ...              ...
yS200                      yS200         0.009656
xC200                      xC200        -0.048677
yC200                      yC200         0.216145
nAC200                    nAC200        -0.017760
nS200                      nS200         0.106799

[2401 rows x 2 columns]

In [143]:
CorrVal=df['Swarm_Behaviour']
CorrVal=CorrVal.abs()

In [144]:
# CorrVal=pd.Series(CorrVal)
df.insert(1,"CorrVal",CorrVal)

In [145]:
df.drop("Swarm_Behaviour",axis=1,inplace=True)
df

                        Features   CorrVal
Swarm_Behaviour  Swarm_Behaviour  1.000000
x1                            x1  0.058640
y1                            y1  0.048443
xVel1                      xVel1  0.256886
yVel1                      yVel1  0.325989
...                          ...       ...
yS200                      yS200  0.009656
xC200                      xC200  0.048677
yC200                      yC200  0.216145
nAC200                    nAC200  0.017760
nS200                      nS200  0.106799

[2401 rows x 2 columns]

In [146]:
df.sort_values("CorrVal",inplace=True,ascending=False)
backup=df.copy()
df.drop("Swarm_Behaviour",axis=0,inplace=True)

In [147]:
# 'yVel15' in TrainX.columns
TrainX,TestX,TrainY,TestY=train_test_split(dataset,dataset['Swarm_Behaviour'],train_size=0.8,random_state=101)

In [175]:

Lr=LogisticRegression(max_iter=300)
# starting with 20 features as when I started with 1 features accuracy started with 72 then went 75 and then for many 
# iterations didn't improved
start=20
BestPred,iteration,NumOfFeatures=0,0,0
for i in range(120):
    SelectedFeatures2=[df['Features'][k] for k in range(start)]
    Lr.fit(TrainX[SelectedFeatures2],TrainY)
    if BestPred<Lr.score(TestX[SelectedFeatures2],TestY):
        BestPred=Lr.score(TestX[SelectedFeatures2],TestY)
        NumOfFeatures=start
        iteration=0
    else:
        iteration+=1
    if iteration>10:
        break
    start+=1
    
print(BestPred)
print(NumOfFeatures)

0.9021879021879022
54

<p> I kept iteration to increase to 19 too and found a better accuracy of 90.6 with 107 features</p>